{% extends 'WebsiteBundle::base.html.twig' %}

{% block scripts %}
    <script src="{{ asset('bundles/website/js/add_to_cart-ajax.js') }}" defer></script>
{% endblock %}
{% block content %}

    <div class="products-main">
        <div class="single-product">
            {% for item in products %}
                <div class="product-image-individual">
                    <img src="{{ asset
                        ('bundles/website/images/female/') }}{{ item
                    .path }}" alt="photo">
                </div>
                <div class="product-info-individual">
                    <div class="name"> {{ item.name }}</div>
                    <div>
                        <div class="description">
                            <div style="font-weight: bold; font-size:20px;"> Description:</div>
                            {{ item.description }}
                        </div>
                        <div class="price"><b style="font-size: 15px;">Price:</b>
                            ${{ item.price }}
                        </div>
                        <div class="cart-button">
                            <form method="post" class="cart-ajax">
                                <input type="hidden" name="name" value="{{ item.name }}">
                                <input type="hidden" name="price" value="{{ item.price }}">
                                <input type="hidden" name="path" value="{{ item.path }}">
                                <input type="hidden" name="id" value="{{ item.product_id }}">
                                <button class="btn btn-dark" type="submit">
                                    Add to Cart
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}