{% extends 'WebsiteBundle:Admin:dashboard.html.twig' %}
{% block content %}
    <div class="admin-main">
        {% if lastSKU %}
            <table class="table table-responsive p-0" style="font-size:12px; width:90%;
            margin-top:1em;">
                <h5 style="margin-top:1em; margin-left:2.9em; align-self: self-start">Last product
                    created:</h5>
                <thead>
                <tr>
                    <th style="width:10%;" class="p-0">Name</th>
                    <th style="width:10%;" class="p-0">SKU</th>
                    <th style="width:40%;" class="p-0">Description</th>
                    <th style="width:5%;" class="p-0">Price</th>
                    <th style="width:12%;" class="p-0">Created on</th>
                    <th style="width:10%;"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="align-middle p-0">{{ lastSKU.name }}</td>
                    <td class="align-middle p-0">{{ lastSKU.SKU }}</td>
                    <td class="align-middle p-0 pr-3">{{ lastSKU.description }}</td>
                    <td class="align-middle p-0">${{ lastSKU.price }}</td>
                    <td class="align-middle p-0">{{ lastSKU.CREATED_AT|date("F jS Y g:ia
                    \E\\E\\T")
                        }}</td>
                    <td class="align-middle p-0 ">
                        <a href="products/{{ lastSKU.name|lower }}"
                           class="button-href">
                            <button class="btn btn-dark edit_button"
                                    style="font-size:12px;">View</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        {% endif %}
        <form method="post" action="{{ path('create-products') }}" class="test-form">
            <h5 style="margin-top: 2em; margin-bottom: 1em;">Create product</h5>
            <div class="row">
                <div class="col-md-3">
                    <label for="exampleFormControlInput1"> Name
                        <input type="text" class="form-control create" id="exampleFormControlInput1"
                               placeholder="product name"
                               name="name" required>
                    </label>
                </div>
                <div class="col-md-3">
                    <label> Price
                        <input type="text" class="form-control create" name="price" placeholder="price"
                               required>
                    </label>
                </div>
                <div class="col-md-3">
                    <label> SKU
                        <input type="text" class="form-control create" name="SKU" placeholder="SKU"
                               required>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <textarea class="form-control create" id="exampleFormControlTextarea1" rows="3"
                              placeholder="description" name="description" required></textarea>
                </div>
            </div>
            <div style="margin-top:1em;">
                <label>
                    <select name="category" class="form-control  create">
                        <option>Select category</option>
                        {% for item in subcategories %}
                                <option value="{{ item.id }}">{{ item
                                    .subcategory }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            <div>
                <button class="btn btn-success" type="submit" name="create_product">Create
                    product
                </button>
            </div>
        </form>
    </div>

{% endblock %}