{% extends 'WebsiteBundle:Admin:dashboard.html.twig' %}
{% block content %}
    <div class="admin-main">
        {% if lastSKU %}
            Last Item created:
            <table class="table table-sm" style="width:50%;">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>SKU</th>
                    <th>Price</th>
                    <th>Created on</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="align-middle">{{ lastSKU.name }}</td>
                    <td class="align-middle">{{ lastSKU.SKU }}</td>
                    <td class="align-middle">${{ lastSKU.price }}</td>
                    <td class="align-middle">{{ lastSKU.CREATED_AT }}</td>
                    <td class="align-middle">
                        <a href="products/{{ lastSKU.name|lower }}"
                           class="button-href">
                            <button class="btn btn-dark edit_button">View</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        {% endif %}

        <form method="post" action="{{ path('create-products') }}">
            <div class="row">
                <div class="col">
                    <label for="exampleFormControlInput1"> Name
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                               placeholder="product name"
                               name="name" required>
                    </label>
                </div>
                <div class="col">
                    <label> Price
                        <input type="text" class="form-control" name="price" placeholder="price"
                               required>
                    </label>
                </div>
                <div class="col">
                    <label> SKU
                        <input type="text" class="form-control" name="SKU" placeholder="SKU"
                               required>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                              placeholder="description" name="description" required></textarea>
                </div>
            </div>
            <div style="margin-top:1em;">
                <label>
                    <select name="category" class="form-control">
                        {% for item in subcategories %}
                                <option value="{{ item.id }}">{{ item.subcategory }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            <div>
                <button class="btn btn-success" type="submit" name="create_product">Create
                    product
                </button>
            </div>
        </form>
    </div>

{% endblock %}