{% extends 'WebsiteBundle:Admin:dashboard.html.twig' %}

{% block content %}
    <div class="admin-main">
        <div class="container">
            <table class="table table-striped table-responsive" style="width:100%;">
                <thead>
                <tr>
                    <th style="width:15%;">Product name</th>
                    <th style="width:10%;">SKU</th>
                    <th style="width:50%;">Description</th>
                    <th style="width:10%;">Price</th>
                    <th style="width:10%;"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="align-middle">{{ product.name }}</td>
                    <td class="align-middle">{{ product.SKU }}</td>
                    <td class="align-middle">{{ product.description }}</td>
                    <td class="align-middle">${{ product.price }}</td>
                    <td class="align-middle">
                        <button class="btn btn-success btn-editdelete" id="button-edit-product">
                            Edit
                        </button>
                        <form style="margin:0;padding:0;" method="post">
                            <input type="hidden" name="prodName" value="{{ product.name }}">
                            <input type="submit" value="Delete"
                                   class="btn btn-danger btn-editdelete" id="delete_button"
                                   name="delete_button">
                        </form>
                    </td>

                </tr>
                </tbody>
            </table>
            <div class="hidden-form">
                <form method="post">
                    <div class="form-row">
                        <div class="col">
                            <label for="prodName">Product name</label>
                            <input type="text" class="form-control" id="prodName"
                                   placeholder="product name"
                                   name="name" value="{{ product.name }}" required>
                        </div>
                        <div class="col">
                            <label for="price">Price</label>
                            <input type="text" class="form-control" id="price" name="price"
                                   placeholder="price" value="{{ product.price }}"
                                   required>
                        </div>
                        <div class="col">
                            <label for="sku"> SKU </label>
                            <input type="text" class="form-control" id="sku" name="SKU"
                                   placeholder="SKU" value="{{ product.SKU }}"
                                   required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-8">
                            <label for="description"> Description</label>
                            <textarea class="form-control" id="description" rows="3"
                                      placeholder="description" name="description"
                                      required>{{ product.description }}</textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <button class="btn btn-success btn-editdelete" type="submit"
                                    name="save_changes" id="save_changes">Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}